body {
    text-align: center;
    font-family:  sans-serif;
}

button {
    padding: 10px 16px;
    background-color: #0ff;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
    
}
div{
    margin-top: 12px;
}
div input {
    height: 25px;
    width: 60px;
}
div button{
    margin-top: 12px;
    height: 45px;
}